@charset "utf-8";


/*


Author: James Gentry
Date: 11/03/2021
File Name:Project.css
*/


html{background-color: black;
     }



body {color: aquamarine;
      font-family: cursive;
      font-size: 17pt;
      
}



nav {color:yellow;
    font-family: sans-serif;
    font-size: 20pt;
}



ul { color: yellow;
    font-family:cursive;
    font-size: 15pt;
}



h1 {color: chartreuse;
    font-family: cursive;
    font-size: 20pt;
}

h2{  color: chartreuse;
    font-family: cursive;
    font-size: 17pt;
}


h3 {color: chartreuse;
    font-family: cursive;
    font-size: 17pt;
}


footer {color: cyan;
         font-family: cursive;
         font-size: 18pt;
}



